<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="WaitFor" Manufacturer="Oofhours" Version="1.0.0.44" UpgradeCode="eb24d7ef-ac5f-4b7e-97ce-bcae8accba5b">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Media Id="1" Cabinet="cab1.cab" EmbedCab="yes"/>

    <Property Id="POWERSHELLEXE">
      <RegistrySearch Id="POWERSHELLEXE" Type="raw" Root="HKLM"
             Key="SOFTWARE\Microsoft\PowerShell\1\ShellIds\Microsoft.PowerShell" Name="Path" />
    </Property>

    <Feature Id="Main">
      <ComponentGroupRef Id="Scripts" />
    </Feature>

    <SetProperty Id="RunInitialize"
            Before ="RunInitialize"
            Sequence="execute"
            Value="&quot;[POWERSHELLEXE]&quot; -NoProfile -NonInteractive -MTA -InputFormat None -ExecutionPolicy Bypass -File &quot;[INSTALLFOLDER]Initialize.ps1&quot;" />
    
    <CustomAction Id="RunInitialize" 
            BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)" DllEntry="WixQuietExec" Execute="deferred" Return="ignore" Impersonate="no" />

    <InstallExecuteSequence>
      <Custom Action="RunInitialize" Before="InstallFinalize" />
    </InstallExecuteSequence>
  
  </Package>
</Wix>
